---
import ArrowIcon from "../../assets/arrow-up-right.svg";

var link = {
  github: "https://github.com/kevindwi",
  email: "mailto:kevindwi356@gmail.com",
  linkedin: "https://www.linkedin.com/in/kevindwi",
  cv: "/CV_Kevin_Dwi_Nayotama.pdf",
  portfolio: "/Portfolio_Kevin_1.pdf",
};
---

<section class="flex justify-center bg-white pt-25 md:pt-30 pb-10">
  <div class="container">
    <!-- <h1 class="text-2xl font-medium tracking-tight">Hi, I'm Kevin</h1> -->
    <p
      class="text-xl md:text-2xl lg:text-3xl text-black tracking-tight mt-4 max-w-xs md:max-w-xl lg:max-w-4xl"
    >
      An undergraduate student in Electrical Engineering at Surabaya State
      University, who has interests in Embedded Systems, Internet of Things, and
      Web Development.
    </p>

    <p
      class="text-xl md:text-2xl lg:text-3xl text-black tracking-tight mt-4 max-w-xs md:max-w-xl lg:max-w-4xl"
    >
      Currently, I am interested in how to combine embedded systems and AI to
      solve real-world problems.
    </p>

    <div class="mt-8 flex flex-wrap gap-2">
      <a href={link["github"]} target="_blank" class="btn btn-text">
        <span>Github</span>
        <ArrowIcon />
      </a>
      <a href={link["email"]} target="_blank" class="btn btn-text">
        <span>Email</span>
        <ArrowIcon />
      </a>
      <a href={link["linkedin"]} target="_blank" class="btn btn-text">
        <span>LinkedIn</span>
        <ArrowIcon />
      </a>
      <a href={link["cv"]} target="_blank" class="btn btn-text">
        <span>CV</span>
        <ArrowIcon />
      </a>
      <a href={link["portfolio"]} target="_blank" class="btn btn-text">
        <span>Portfolio</span>
        <ArrowIcon />
      </a>
    </div>
  </div>
</section>
