---
import ProjectCard from "../../components/ProjectCard.astro";

const projects = [
  {
    title: "Run File Transfer",
    description: "File transfer app",
    thumbnail: "/run-file-transfer.png",
    redirect: "https://runtransfer.vercel.app",
  },
  {
    title: "Green Energy",
    description: "Fake project",
    thumbnail: "/green-energy.jpg",
    redirect: "https://green-energy-blond.vercel.app/",
  },
  {
    title: "Tmeless Farm",
    description: "Fake project",
    thumbnail: "/timeless-farm.jpg",
    redirect: "https://timeless-farm.vercel.app",
  },
];
---

<section class="flex md:justify-center bg-white pb-12">
  <div class="container">
    <h1 class="text-xl font-normal text-black tracking-tight">Projects</h1>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-4">
      {projects.map((p) => <ProjectCard {...p} />)}
    </div>
  </div>
</section>
