@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
    /*--color-fd-primary: hsl(217, 100%, 58%);*/

    /* Yellow */
    --color-fd-primary: hsl(41, 100%, 40%);
}

.dark {
    /*--color-fd-primary: #a9ceff;*/

    /* Yellow */
    --color-fd-primary: #fff383;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
