---
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={"404 | Page not found."}
            description={"Page not found."}
        />
    </head>
    <body>
        <div class="h-screen flex justify-center items-center">
            <div class="text-center">
                <h1 class="text-black text-2xl font-medium">404</h1>
                <p>
                    Go back to <a href="/">home</a>
                </p>
            </div>
        </div>
    </body>
</html>
