---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="h-full justify-items-center">
	  <Header/>

		<main class="w-2xl mt-18">
  		<div class="mb-4 w-8 h-8">
   			<div class="w-8 h-8 aspect-square bg-linear-65 from-purple-500 to-pink-500 rounded-lg"></div>
  		</div>

			<h1 class="text-slate-900 font-medium">Hello, I'm Kevin!</h1>
			<h2 class="text-slate-600 font-medium">Electrical Engineer Student</h2>


			<p>
			  Saya adalah mahasiswa Teknik Elektro yang memiliki antusiasme tinggi di bidang otomasi industri dan sistem kendali. Fokus utama saya terletak pada pengembangan sistem yang efisien melalui teknologi PLC dan control systems.
			</p>
			<p>
			  Selama perjalanan akademik, saya aktif terlibat dalam berbagai proyek riset, pemahaman sistem tenaga listrik, hingga pengalaman magang praktis. Pengalaman-pengalaman tersebut telah mengasah kemampuan saya dalam memecahkan masalah teknis yang kompleks serta beradaptasi dengan dinamika kerja di lapangan.
			</p>


			<div class="my-8">
			  <h3 class="text-slate-900 font-medium">Contact</h3>
				<ul class="flex space-x-3 list-none m-0 *:p-0">
    		  <li><a href="#">Github</a></li>
    		  <li><a href="#">Email</a></li>
				  <li><a href="#">CV</a></li>
				</ul>
			</div>


			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
