---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Link from "../components/Link.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <div
            class="lg:w-[40rem] lg:max-w-[40rem] mx-auto flex justify-center pt-28"
        >
            <main class="min-h-[60vh] w-full px-6 md:px-0 md:w-auto">
                <div class="">
                    <h1 class="text-black text-2xl font-medium">
                        hi, i'm kevin
                    </h1>
                    <p>
                        I'm a second year student in Electrical Engineering at
                        Surabaya State University. I'm interested at Signals and
                        Systems, ML and Deep Learning.
                    </p>
                </div>
                <div class="flex flex-wrap gap-2 mt-8">
                    <a
                        class="flex items-center gap-1 cursor-pointer select-none bg-gray-300 font-medium text-sm py-[6px] px-3 rounded-full transition-colors duration-200 ease-out hover:bg-gray-400"
                        href="#"
                    >
                        Github
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            class="size-[14px] stroke-gray-1200"
                            ><path
                                d="M18 15V6M18 6H9M18 6L6.25 17.75"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path></svg
                        >
                    </a>
                    <a
                        class="flex items-center gap-1 cursor-pointer select-none bg-gray-300 font-medium text-sm py-[6px] px-3 rounded-full transition-colors duration-200 ease-out hover:bg-gray-400"
                        href="#"
                    >
                        Email
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            class="size-[14px] stroke-gray-1200"
                            ><path
                                d="M18 15V6M18 6H9M18 6L6.25 17.75"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path></svg
                        >
                    </a>
                    <a
                        class="flex items-center gap-1 cursor-pointer select-none bg-gray-300 font-medium text-sm py-[6px] px-3 rounded-full transition-colors duration-200 ease-out hover:bg-gray-400"
                        href="#"
                    >
                        LinkedIn
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            class="size-[14px] stroke-gray-1200"
                            ><path
                                d="M18 15V6M18 6H9M18 6L6.25 17.75"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path></svg
                        >
                    </a>
                    <a
                        class="flex items-center gap-1 cursor-pointer select-none bg-gray-300 font-medium text-sm py-[6px] px-3 rounded-full transition-colors duration-200 ease-out hover:bg-gray-400"
                        href="#"
                    >
                        CV
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            class="size-[14px] stroke-gray-1200"
                            ><path
                                d="M18 15V6M18 6H9M18 6L6.25 17.75"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path></svg
                        >
                    </a>
                </div>
            </main>
        </div>

        <Footer />
    </body>
</html>
