---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../sections/Hero.astro";
import Projects from "../sections/Projects.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

var link = {
  github: "https://github.com/kevindwi",
  email: "mailto:kevindwi356@gmail.com",
  linkedin: "https://www.linkedin.com/in/kevindwi",
  cv: "/CV_Kevin_Dwi_Nayotama.pdf",
  portfolio: "/Portfolio_Kevin_1.pdf",
};

var pojects = [
  {
    title: "Run File Transfer",
    description:
      "File transfer app using React and WebRTC that enables direct file transfer between two devices using local Wi-Fi network. The system uses a Socket.IO-based signaling server to create and join rooms, with QR Code support for quick device pairing.",
    imageURL: "/run-file-transfer.png",
    redirect: "https://runtransfer.vercel.app",
  },
  {
    title: "Green Energy Landing Page",
    description: "Fake project",
    imageURL: "/green-energy.png",
    redirect: "https://green-energy-blond.vercel.app/",
  },
  {
    title: "Timeless Farm Landing Page",
    description: "Fake project",
    imageURL: "/timeless-farm.png",
    redirect: "https://timeless-farm.vercel.app",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <Hero />
    <Projects />

    <Footer />
  </body>
</html>
