<header
  class="fixed left-0 top-0 w-full z-50 backdrop-blur-sm mix-blend-difference"
>
  <div class="py-5">
    <div class="container">
      <div class="flex items-center justify-between px-2">
        <h1 class="">
          <a href="#" class="hover:opacity-75 transition-opacity text-white"
            >kevindwi</a
          >
        </h1>
        <nav class="flex gap-6 text-sm items-center">
          <a href="#" class="text-white hover:text-slate-500 transition-colors"
            >Home</a
          >
          <a href="#" class="text-white hover:text-slate-500 transition-colors"
            >Blog</a
          >
        </nav>
      </div>
    </div>
  </div>
</header>
