---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="w-full text-black bg-white/60 backdrop-blur-sm py-3 fixed">
  <nav class="flex items-center justify-between py-2 mx-40">
    <h2 class="font-bold text-md"><a href="/">{SITE_TITLE}</a></h2>
    <div class="font-semibold text-sm flex gap-x-5">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
    </div>
  </nav>
</header>
