---
import { SITE_TITLE } from "../consts";
---

<header class="fixed left-0 top-0 w-full z-50 backdrop-blur-sm">
  <div class="py-5">
    <div class="container">
      <div class="flex items-center justify-between">
        <h1>kevindwi</h1>
        <nav class="flex gap-6 text-sm text-black/60 items-center">
          <a href="/">Home</a>
          <a href="/blog">Blog</a>
        </nav>
      </div>
    </div>
  </div>
</header>
